--
-- PostgreSQL database dump
--

\restrict tr0vKCDBQryuGLDTjVh7jfYGBbnDDbNJ7hKHacekUkOEXxOnKiFv9Qu49qLojqd

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.wbs DROP CONSTRAINT wbs_projet_id_fkey;
ALTER TABLE ONLY public.taches DROP CONSTRAINT taches_wbs_id_fkey;
ALTER TABLE ONLY public.taches DROP CONSTRAINT taches_projet_id_fkey;
ALTER TABLE ONLY public.taches DROP CONSTRAINT taches_ligne_budgetaire_id_fkey;
ALTER TABLE ONLY public.sources_financement DROP CONSTRAINT sources_financement_projet_id_fkey;
ALTER TABLE ONLY public.risques DROP CONSTRAINT risques_projet_id_fkey;
ALTER TABLE ONLY public.ptba DROP CONSTRAINT ptba_projet_id_fkey;
ALTER TABLE ONLY public.projet_utilisateurs DROP CONSTRAINT projet_utilisateurs_utilisateur_id_fkey;
ALTER TABLE ONLY public.projet_utilisateurs DROP CONSTRAINT projet_utilisateurs_projet_id_fkey;
ALTER TABLE ONLY public.operations DROP CONSTRAINT operations_tache_id_fkey;
ALTER TABLE ONLY public.operations DROP CONSTRAINT operations_projet_id_fkey;
ALTER TABLE ONLY public.operations DROP CONSTRAINT operations_cree_par_fkey;
ALTER TABLE ONLY public.marches DROP CONSTRAINT marches_projet_id_fkey;
ALTER TABLE ONLY public.lignes_budgetaires DROP CONSTRAINT lignes_budgetaires_projet_id_fkey;
ALTER TABLE ONLY public.documents DROP CONSTRAINT documents_uploade_par_fkey;
ALTER TABLE ONLY public.documents DROP CONSTRAINT documents_projet_id_fkey;
ALTER TABLE ONLY public.cadres_logiques DROP CONSTRAINT cadres_logiques_projet_id_fkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_utilisateur_id_fkey;
DROP INDEX public.utilisateurs_reset_password_token_idx;
DROP INDEX public.utilisateurs_email_key;
DROP INDEX public."utilisateurs_deletedAt_email_idx";
DROP INDEX public."taches_projet_id_deletedAt_statut_idx";
DROP INDEX public."projets_deletedAt_statut_idx";
DROP INDEX public.projets_code_projet_key;
DROP INDEX public.projet_utilisateurs_projet_id_utilisateur_id_key;
DROP INDEX public.audit_logs_utilisateur_id_idx;
DROP INDEX public.audit_logs_horodatage_idx;
ALTER TABLE ONLY public.wbs DROP CONSTRAINT wbs_pkey;
ALTER TABLE ONLY public.utilisateurs DROP CONSTRAINT utilisateurs_pkey;
ALTER TABLE ONLY public.taches DROP CONSTRAINT taches_pkey;
ALTER TABLE ONLY public.sources_financement DROP CONSTRAINT sources_financement_pkey;
ALTER TABLE ONLY public.risques DROP CONSTRAINT risques_pkey;
ALTER TABLE ONLY public.ptba DROP CONSTRAINT ptba_pkey;
ALTER TABLE ONLY public.projets DROP CONSTRAINT projets_pkey;
ALTER TABLE ONLY public.projet_utilisateurs DROP CONSTRAINT projet_utilisateurs_pkey;
ALTER TABLE ONLY public.operations DROP CONSTRAINT operations_pkey;
ALTER TABLE ONLY public.marches DROP CONSTRAINT marches_pkey;
ALTER TABLE ONLY public.lignes_budgetaires DROP CONSTRAINT lignes_budgetaires_pkey;
ALTER TABLE ONLY public.documents DROP CONSTRAINT documents_pkey;
ALTER TABLE ONLY public.cadres_logiques DROP CONSTRAINT cadres_logiques_pkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_pkey;
ALTER TABLE ONLY public._prisma_migrations DROP CONSTRAINT _prisma_migrations_pkey;
DROP TABLE public.wbs;
DROP TABLE public.utilisateurs;
DROP TABLE public.taches;
DROP TABLE public.sources_financement;
DROP TABLE public.risques;
DROP TABLE public.ptba;
DROP TABLE public.projets;
DROP TABLE public.projet_utilisateurs;
DROP TABLE public.operations;
DROP TABLE public.marches;
DROP TABLE public.lignes_budgetaires;
DROP TABLE public.documents;
DROP TABLE public.cadres_logiques;
DROP TABLE public.audit_logs;
DROP TABLE public._prisma_migrations;
DROP TYPE public."TypeRevue";
DROP TYPE public."TypeMarche";
DROP TYPE public."TypeDocument";
DROP TYPE public."StatutTache";
DROP TYPE public."StatutRisque";
DROP TYPE public."StatutProjet";
DROP TYPE public."StatutPTBA";
DROP TYPE public."StatutMarche";
DROP TYPE public."Role";
DROP TYPE public."NiveauIntervention";
DROP TYPE public."MethodePassation";
DROP TYPE public."ActionAudit";
--
-- Name: ActionAudit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ActionAudit" AS ENUM (
    'CREATION',
    'MODIFICATION',
    'SUPPRESSION',
    'CONNEXION',
    'DECONNEXION',
    'EXPORT',
    'UPLOAD'
);


--
-- Name: MethodePassation; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MethodePassation" AS ENUM (
    'AOI',
    'AON',
    'DEMANDE_COTATION',
    'SFQC',
    'SMC',
    'GRE_A_GRE'
);


--
-- Name: NiveauIntervention; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."NiveauIntervention" AS ENUM (
    'IMPACT',
    'EFFET',
    'RESULTAT',
    'ACTIVITE'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN_PROJET',
    'COORDONNATEUR_PROJET',
    'RESPONSABLE_TECHNIQUE',
    'RESPONSABLE_FINANCIER',
    'RESPONSABLE_PASSATION_MARCHES',
    'RESPONSABLE_SUIVI_EVALUATION',
    'BAILLEUR',
    'AUDITEUR',
    'OBSERVATEUR'
);


--
-- Name: StatutMarche; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."StatutMarche" AS ENUM (
    'PLANIFIE',
    'EN_COURS',
    'ADJUGE',
    'SIGNE',
    'RESILIE',
    'ANNULE'
);


--
-- Name: StatutPTBA; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."StatutPTBA" AS ENUM (
    'PLANIFIE',
    'EN_COURS',
    'TERMINE',
    'SUSPENDU'
);


--
-- Name: StatutProjet; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."StatutProjet" AS ENUM (
    'PREPARATION',
    'ACTIF',
    'SUSPENDU',
    'CLOTURE',
    'ANNULE'
);


--
-- Name: StatutRisque; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."StatutRisque" AS ENUM (
    'IDENTIFIE',
    'EN_COURS_ATTENUATION',
    'RESIDU',
    'CLOS'
);


--
-- Name: StatutTache; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."StatutTache" AS ENUM (
    'A_FAIRE',
    'EN_COURS',
    'TERMINE',
    'ANNULE'
);


--
-- Name: TypeDocument; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TypeDocument" AS ENUM (
    'CONTRAT',
    'RAPPORT',
    'AUDIT',
    'FACTURE',
    'PV',
    'PHOTO',
    'AUTRE'
);


--
-- Name: TypeMarche; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TypeMarche" AS ENUM (
    'TRAVAUX',
    'FOURNITURES',
    'SERVICES',
    'CONSULTANTS'
);


--
-- Name: TypeRevue; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TypeRevue" AS ENUM (
    'A_PRIORI',
    'A_POSTERIORI'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    utilisateur_id text,
    action public."ActionAudit" NOT NULL,
    module text NOT NULL,
    entite_id text,
    ancienne_valeur jsonb,
    nouvelle_valeur jsonb,
    horodatage timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    adresse_ip text,
    user_agent text
);


--
-- Name: cadres_logiques; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cadres_logiques (
    id text NOT NULL,
    projet_id text NOT NULL,
    niveau_intervention public."NiveauIntervention" NOT NULL,
    indicateur text NOT NULL,
    valeur_reference text,
    cible text,
    source_verification text,
    hypotheses text,
    risques text,
    commentaires text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id text NOT NULL,
    projet_id text NOT NULL,
    nom_fichier text NOT NULL,
    url_fichier text NOT NULL,
    type_document public."TypeDocument" NOT NULL,
    taille_fichier integer NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    date_upload timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    uploade_par text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: lignes_budgetaires; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lignes_budgetaires (
    id text NOT NULL,
    projet_id text NOT NULL,
    code_budget text NOT NULL,
    rubrique text NOT NULL,
    sous_rubrique text,
    unite text,
    quantite double precision DEFAULT 1 NOT NULL,
    cout_unitaire numeric(15,2) NOT NULL,
    cout_total numeric(15,2) NOT NULL,
    financement_bailleur numeric(15,2) DEFAULT 0 NOT NULL,
    contrepartie_etat numeric(15,2) DEFAULT 0 NOT NULL,
    commentaire text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: marches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.marches (
    id text NOT NULL,
    projet_id text NOT NULL,
    description_marche text NOT NULL,
    type_marche public."TypeMarche" NOT NULL,
    methode public."MethodePassation" NOT NULL,
    type_revue public."TypeRevue" NOT NULL,
    date_prevue timestamp(3) without time zone,
    date_signature timestamp(3) without time zone,
    montant_estime numeric(15,2) NOT NULL,
    statut public."StatutMarche" DEFAULT 'PLANIFIE'::public."StatutMarche" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: operations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.operations (
    id text NOT NULL,
    projet_id text NOT NULL,
    tache_id text NOT NULL,
    date_operation timestamp(3) without time zone NOT NULL,
    statut public."StatutTache" NOT NULL,
    montant_engage numeric(15,2) DEFAULT 0 NOT NULL,
    montant_decaisse numeric(15,2) DEFAULT 0 NOT NULL,
    commentaire text,
    cree_par text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: projet_utilisateurs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projet_utilisateurs (
    id text NOT NULL,
    projet_id text NOT NULL,
    utilisateur_id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: projets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projets (
    id text NOT NULL,
    code_projet text NOT NULL,
    nom_projet text NOT NULL,
    description text,
    bailleur_principal text NOT NULL,
    date_debut timestamp(3) without time zone NOT NULL,
    date_fin timestamp(3) without time zone NOT NULL,
    budget_total numeric(15,2) NOT NULL,
    devise text DEFAULT 'XOF'::text NOT NULL,
    statut public."StatutProjet" DEFAULT 'PREPARATION'::public."StatutProjet" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: ptba; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ptba (
    id text NOT NULL,
    projet_id text NOT NULL,
    code_activite text NOT NULL,
    composante text NOT NULL,
    activite text NOT NULL,
    description text,
    responsable text,
    budget_prevu numeric(15,2) NOT NULL,
    q1 numeric(15,2) DEFAULT 0 NOT NULL,
    q2 numeric(15,2) DEFAULT 0 NOT NULL,
    q3 numeric(15,2) DEFAULT 0 NOT NULL,
    q4 numeric(15,2) DEFAULT 0 NOT NULL,
    statut public."StatutPTBA" DEFAULT 'PLANIFIE'::public."StatutPTBA" NOT NULL,
    pourcentage_avancement double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: risques; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.risques (
    id text NOT NULL,
    projet_id text NOT NULL,
    categorie text NOT NULL,
    description text NOT NULL,
    probabilite integer NOT NULL,
    impact integer NOT NULL,
    criticite integer NOT NULL,
    strategie_attenuation text,
    responsable text,
    statut public."StatutRisque" DEFAULT 'IDENTIFIE'::public."StatutRisque" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: sources_financement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sources_financement (
    id text NOT NULL,
    projet_id text NOT NULL,
    nom_bailleur text NOT NULL,
    montant numeric(15,2) NOT NULL,
    devise text NOT NULL,
    date_financement timestamp(3) without time zone,
    commentaire text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: taches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.taches (
    id text NOT NULL,
    projet_id text NOT NULL,
    wbs_id text,
    ligne_budgetaire_id text,
    code_tache text NOT NULL,
    description text NOT NULL,
    responsable text,
    date_debut timestamp(3) without time zone,
    date_fin timestamp(3) without time zone,
    cout_prevu numeric(15,2) NOT NULL,
    cout_reel numeric(15,2) DEFAULT 0 NOT NULL,
    avancement double precision DEFAULT 0 NOT NULL,
    statut public."StatutTache" DEFAULT 'A_FAIRE'::public."StatutTache" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.utilisateurs (
    id text NOT NULL,
    prenom text NOT NULL,
    nom text NOT NULL,
    email text NOT NULL,
    telephone text,
    mot_de_passe text NOT NULL,
    role public."Role" NOT NULL,
    actif boolean DEFAULT true NOT NULL,
    refresh_token text,
    reset_password_token text,
    reset_password_expires timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Name: wbs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wbs (
    id text NOT NULL,
    projet_id text NOT NULL,
    code_wbs text NOT NULL,
    nom_phase text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public._prisma_migrations VALUES ('2bc5c3d6-983b-4fd8-8aca-81435b7f8e99', 'cf552490286ea955d323ed84263b4068f5f060a8d36b8c09faaae7ca8fa351a1', '2026-06-10 16:34:18.939131+00', '20260610163418_init', NULL, NULL, '2026-06-10 16:34:18.260314+00', 1);
INSERT INTO public._prisma_migrations VALUES ('fd0f8d0c-9479-4a73-a7a2-d5afa737af19', 'a436453f17b98f6119c71363d799cd5dd79482079659480cb3284096ba591ad4', '2026-06-10 22:11:48.318464+00', '20260610221148_add_indexes_security', NULL, NULL, '2026-06-10 22:11:48.246344+00', 1);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cadres_logiques; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.cadres_logiques VALUES ('3ee5f9e0-9e46-4d87-9a59-5ad67a5a09c7', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'IMPACT', 'Taux de morbidit├⌐ li├⌐e ├á l''eau', NULL, 'Baisse de 30%', NULL, NULL, NULL, NULL, '2026-06-10 16:34:47.325', '2026-06-10 16:34:47.325', NULL);
INSERT INTO public.cadres_logiques VALUES ('e49a9bd9-c46b-4bd6-8da2-a3e58ca53959', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'EFFET', 'Taux d''acc├¿s ├á l''eau potable', NULL, '75%', NULL, NULL, NULL, NULL, '2026-06-10 16:34:47.343', '2026-06-10 16:34:47.343', NULL);
INSERT INTO public.cadres_logiques VALUES ('7e0025f3-b127-4581-bce5-ef555cc026f1', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'RESULTAT', 'Forages fonctionnels', NULL, '50 forages', NULL, NULL, NULL, NULL, '2026-06-10 16:34:47.353', '2026-06-10 16:34:47.353', NULL);


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: lignes_budgetaires; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.lignes_budgetaires VALUES ('a8f740e6-2b00-455e-9e31-8a1cf3765f93', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'L1', 'Pompes solaires', NULL, NULL, 50, 15000.00, 750000.00, 0.00, 0.00, NULL, '2026-06-10 16:34:47.431', '2026-06-10 16:34:47.431', NULL);
INSERT INTO public.lignes_budgetaires VALUES ('5f46ed5d-93b0-4cc5-b3f6-a3b84cf413c5', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'L2', 'Forage', NULL, NULL, 50, 25000.00, 1250000.00, 0.00, 0.00, NULL, '2026-06-10 16:34:47.448', '2026-06-10 16:34:47.448', NULL);
INSERT INTO public.lignes_budgetaires VALUES ('d4773e53-355a-492e-b57a-0155adaae08d', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'L3', 'Formation COGES', NULL, NULL, 10, 5000.00, 50000.00, 0.00, 0.00, NULL, '2026-06-10 16:34:47.463', '2026-06-10 16:34:47.463', NULL);


--
-- Data for Name: marches; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.marches VALUES ('23786c25-f39e-41f6-88d5-bd25e5448988', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'March├⌐ de travaux 2', 'TRAVAUX', 'AON', 'A_POSTERIORI', NULL, NULL, 150000.00, 'PLANIFIE', '2026-06-10 16:34:48.005', '2026-06-10 16:34:48.005', NULL);
INSERT INTO public.marches VALUES ('f501e20e-f375-456a-bbf3-b2265da05105', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'March├⌐ de fournitures 5', 'SERVICES', 'GRE_A_GRE', 'A_POSTERIORI', NULL, NULL, 150000.00, 'PLANIFIE', '2026-06-11 22:28:35.152', '2026-06-11 22:36:54.149', NULL);
INSERT INTO public.marches VALUES ('fb132153-75fb-475c-8148-a5caae42b6de', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'March├⌐ de fournitures 4', 'CONSULTANTS', 'DEMANDE_COTATION', 'A_POSTERIORI', NULL, NULL, 150000.00, 'PLANIFIE', '2026-06-11 22:28:35.143', '2026-06-11 22:36:57.76', NULL);


--
-- Data for Name: operations; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.operations VALUES ('94393433-572e-4d81-a0ca-4e32de35b78b', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', '9236d959-a24c-494b-858e-0e744e516806', '2026-06-10 16:34:47.82', 'TERMINE', 50000.00, 50000.00, NULL, '1a02c456-89f7-41dd-9df4-9eec3185c673', '2026-06-10 16:34:47.822', '2026-06-10 16:34:47.822');
INSERT INTO public.operations VALUES ('11ac95c1-0c02-4a32-b690-ae132f9e9369', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', '3dd0da23-d3d2-499a-a537-5bb0f29e1c8b', '2026-06-10 16:34:47.843', 'EN_COURS', 200000.00, 100000.00, NULL, '1a02c456-89f7-41dd-9df4-9eec3185c673', '2026-06-10 16:34:47.844', '2026-06-10 16:34:47.844');
INSERT INTO public.operations VALUES ('0658cd18-f606-42d4-9870-9c92f4880369', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'c0ced786-46e2-4b36-9835-427c13cdbc88', '2026-06-10 16:34:47.859', 'A_FAIRE', 50000.00, 0.00, NULL, '1a02c456-89f7-41dd-9df4-9eec3185c673', '2026-06-10 16:34:47.86', '2026-06-10 16:34:47.86');


--
-- Data for Name: projet_utilisateurs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: projets; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.projets VALUES ('b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'PAEP-CI-2025', 'Projet d''Acc├¿s ├á l''Eau Potable en Milieu Rural ΓÇö C├┤te d''Ivoire', 'Am├⌐lioration de l''acc├¿s ├á l''eau potable dans les r├⌐gions nord', 'Banque Mondiale', '2025-01-01 00:00:00', '2027-12-31 00:00:00', 2500000.00, 'XOF', 'ACTIF', '2026-06-10 16:34:47.3', '2026-06-10 16:34:47.3', NULL);


--
-- Data for Name: ptba; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.ptba VALUES ('06892f84-b5c0-442f-a06d-b765ac5f89dd', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'ACT-T1', 'Infrastructures', 'Forages Trimestre 1', NULL, NULL, 250000.00, 250000.00, 0.00, 0.00, 0.00, 'TERMINE', 0, '2026-06-10 16:34:47.524', '2026-06-10 16:34:47.524', NULL);
INSERT INTO public.ptba VALUES ('de056057-567c-4ce4-afa8-80291849b88a', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'ACT-T2', 'Infrastructures', 'Forages Trimestre 2', NULL, NULL, 250000.00, 0.00, 250000.00, 0.00, 0.00, 'PLANIFIE', 0, '2026-06-10 16:34:47.554', '2026-06-10 16:34:47.554', NULL);
INSERT INTO public.ptba VALUES ('231e7a19-1197-412b-aaf2-0ca2def62def', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'ACT-T3', 'Infrastructures', 'Forages Trimestre 3', NULL, NULL, 250000.00, 0.00, 0.00, 250000.00, 0.00, 'PLANIFIE', 0, '2026-06-10 16:34:47.578', '2026-06-10 16:34:47.578', NULL);


--
-- Data for Name: risques; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.risques VALUES ('bac3a512-79fe-4fde-ad7f-7736209a8568', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Technique', 'Risque Technique', 3, 3, 9, NULL, NULL, 'IDENTIFIE', '2026-06-10 16:34:48.09', '2026-06-10 16:34:48.09', NULL);
INSERT INTO public.risques VALUES ('25d1f727-35de-44b5-8368-5e4c8096888e', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Financier', 'Risque Financier', 2, 3, 6, NULL, NULL, 'EN_COURS_ATTENUATION', '2026-06-10 16:34:48.117', '2026-06-10 16:34:48.117', NULL);
INSERT INTO public.risques VALUES ('c31a89a9-ac78-46ad-bb88-4c6fd5ac15d2', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Social', 'Risque Social', 2, 2, 4, NULL, NULL, 'CLOS', '2026-06-10 16:34:48.138', '2026-06-10 16:34:48.138', NULL);


--
-- Data for Name: sources_financement; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.sources_financement VALUES ('285e5112-00cc-4a46-b6b8-ebedc6e43e22', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Banque Mondiale', 2000000.00, 'XOF', NULL, NULL, '2026-06-10 16:34:47.377', '2026-06-10 16:34:47.377', NULL);
INSERT INTO public.sources_financement VALUES ('0df25cd9-7c12-487d-a27b-f5c27ae21895', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Contrepartie ├ëtat CI', 500000.00, 'XOF', NULL, NULL, '2026-06-10 16:34:47.377', '2026-06-10 16:34:47.377', NULL);
INSERT INTO public.sources_financement VALUES ('0752cc68-6cf6-44e4-8a3a-1d21601460c1', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'Banque Mondiale', 2000000.00, 'XOF', NULL, NULL, '2026-06-11 22:28:34.832', '2026-06-11 22:28:34.832', NULL);


--
-- Data for Name: taches; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.taches VALUES ('9236d959-a24c-494b-858e-0e744e516806', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'e9edef5c-aa26-417a-9354-2c41ed044866', 'a8f740e6-2b00-455e-9e31-8a1cf3765f93', 'T01', '├ëtudes g├⌐o', NULL, '2025-01-10 00:00:00', '2025-06-30 00:00:00', 50000.00, 50000.00, 100, 'TERMINE', '2026-06-10 16:34:47.628', '2026-06-10 16:34:47.628', NULL);
INSERT INTO public.taches VALUES ('3dd0da23-d3d2-499a-a537-5bb0f29e1c8b', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'e9edef5c-aa26-417a-9354-2c41ed044866', '5f46ed5d-93b0-4cc5-b3f6-a3b84cf413c5', 'T02', 'Construction', NULL, '2025-01-10 00:00:00', '2025-06-30 00:00:00', 200000.00, 100000.00, 50, 'EN_COURS', '2026-06-10 16:34:47.666', '2026-06-10 16:34:47.666', NULL);
INSERT INTO public.taches VALUES ('c0ced786-46e2-4b36-9835-427c13cdbc88', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'c9cd335e-1ba3-47d6-a10a-901ca946f033', 'd4773e53-355a-492e-b57a-0155adaae08d', 'T03', 'Formation', NULL, '2025-01-10 00:00:00', '2025-06-30 00:00:00', 50000.00, 0.00, 0, 'A_FAIRE', '2026-06-10 16:34:47.689', '2026-06-10 16:34:47.689', NULL);


--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.utilisateurs VALUES ('930d42f4-3616-4024-9fc1-ffa236f79f5e', 'Expert', 'Audit', 'audit@sigp.ci', NULL, '$2b$12$U8Py./q.G1qtOWl.D/vb6uODiI3QOBbkEKm69GYz9fPm2e2BlpT7K', 'AUDITEUR', true, NULL, NULL, NULL, '2026-06-10 16:34:47.187', '2026-06-10 16:34:47.187', NULL);
INSERT INTO public.utilisateurs VALUES ('dcf2f89c-b97c-4e38-b41d-faf52126f328', 'Rep', 'Bailleur', 'bailleur@banquemonde.org', NULL, '$2b$12$u3Tch.Iwcmx1iYFqIMUWtuVYJ80hizjfcNPCbZwHVDEAniySVu3RC', 'BAILLEUR', true, NULL, NULL, NULL, '2026-06-10 16:34:47.187', '2026-06-10 16:34:47.187', NULL);
INSERT INTO public.utilisateurs VALUES ('e3e9ef0f-9f26-4650-889b-3a8dc90c8566', 'Coordo', 'Projet', 'coord@sigp.ci', NULL, '$2b$12$MkBvT8vKioUMAmWArqDM0uA3ztM04bmzwgu.H9CUt2Iqlg98kEUUK', 'COORDONNATEUR_PROJET', true, '$2b$12$JCLxBUxl0P3q6oc6/ymkFeypCaW.zyUrcOtD/PEYVJcOM6UsTDZcO', NULL, NULL, '2026-06-10 16:34:47.187', '2026-06-16 19:07:59.162', NULL);


--
-- Data for Name: wbs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.wbs VALUES ('e9edef5c-aa26-417a-9354-2c41ed044866', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'WBS-01', 'Infrastructures', NULL, '2026-06-10 16:34:47.392', '2026-06-10 16:34:47.392', NULL);
INSERT INTO public.wbs VALUES ('c9cd335e-1ba3-47d6-a10a-901ca946f033', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'WBS-02', 'Formation et Sensibilisation', NULL, '2026-06-10 16:34:47.407', '2026-06-10 16:34:47.407', NULL);
INSERT INTO public.wbs VALUES ('8330973d-4900-422d-b36b-eaead6c11e20', 'b0964e07-213a-40b8-897f-ecfb0b1f65f6', 'WBS-03', 'Suivi-├ëvaluation', NULL, '2026-06-10 16:34:47.419', '2026-06-10 16:34:47.419', NULL);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cadres_logiques cadres_logiques_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cadres_logiques
    ADD CONSTRAINT cadres_logiques_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: lignes_budgetaires lignes_budgetaires_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lignes_budgetaires
    ADD CONSTRAINT lignes_budgetaires_pkey PRIMARY KEY (id);


--
-- Name: marches marches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.marches
    ADD CONSTRAINT marches_pkey PRIMARY KEY (id);


--
-- Name: operations operations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_pkey PRIMARY KEY (id);


--
-- Name: projet_utilisateurs projet_utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projet_utilisateurs
    ADD CONSTRAINT projet_utilisateurs_pkey PRIMARY KEY (id);


--
-- Name: projets projets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projets
    ADD CONSTRAINT projets_pkey PRIMARY KEY (id);


--
-- Name: ptba ptba_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ptba
    ADD CONSTRAINT ptba_pkey PRIMARY KEY (id);


--
-- Name: risques risques_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risques
    ADD CONSTRAINT risques_pkey PRIMARY KEY (id);


--
-- Name: sources_financement sources_financement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sources_financement
    ADD CONSTRAINT sources_financement_pkey PRIMARY KEY (id);


--
-- Name: taches taches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taches
    ADD CONSTRAINT taches_pkey PRIMARY KEY (id);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id);


--
-- Name: wbs wbs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wbs
    ADD CONSTRAINT wbs_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_horodatage_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_horodatage_idx ON public.audit_logs USING btree (horodatage);


--
-- Name: audit_logs_utilisateur_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_utilisateur_id_idx ON public.audit_logs USING btree (utilisateur_id);


--
-- Name: projet_utilisateurs_projet_id_utilisateur_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX projet_utilisateurs_projet_id_utilisateur_id_key ON public.projet_utilisateurs USING btree (projet_id, utilisateur_id);


--
-- Name: projets_code_projet_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX projets_code_projet_key ON public.projets USING btree (code_projet);


--
-- Name: projets_deletedAt_statut_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "projets_deletedAt_statut_idx" ON public.projets USING btree ("deletedAt", statut);


--
-- Name: taches_projet_id_deletedAt_statut_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "taches_projet_id_deletedAt_statut_idx" ON public.taches USING btree (projet_id, "deletedAt", statut);


--
-- Name: utilisateurs_deletedAt_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "utilisateurs_deletedAt_email_idx" ON public.utilisateurs USING btree ("deletedAt", email);


--
-- Name: utilisateurs_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX utilisateurs_email_key ON public.utilisateurs USING btree (email);


--
-- Name: utilisateurs_reset_password_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX utilisateurs_reset_password_token_idx ON public.utilisateurs USING btree (reset_password_token);


--
-- Name: audit_logs audit_logs_utilisateur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_utilisateur_id_fkey FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cadres_logiques cadres_logiques_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cadres_logiques
    ADD CONSTRAINT cadres_logiques_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documents documents_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documents documents_uploade_par_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploade_par_fkey FOREIGN KEY (uploade_par) REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: lignes_budgetaires lignes_budgetaires_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lignes_budgetaires
    ADD CONSTRAINT lignes_budgetaires_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: marches marches_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.marches
    ADD CONSTRAINT marches_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: operations operations_cree_par_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_cree_par_fkey FOREIGN KEY (cree_par) REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: operations operations_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: operations operations_tache_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_tache_id_fkey FOREIGN KEY (tache_id) REFERENCES public.taches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projet_utilisateurs projet_utilisateurs_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projet_utilisateurs
    ADD CONSTRAINT projet_utilisateurs_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: projet_utilisateurs projet_utilisateurs_utilisateur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projet_utilisateurs
    ADD CONSTRAINT projet_utilisateurs_utilisateur_id_fkey FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ptba ptba_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ptba
    ADD CONSTRAINT ptba_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: risques risques_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.risques
    ADD CONSTRAINT risques_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sources_financement sources_financement_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sources_financement
    ADD CONSTRAINT sources_financement_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: taches taches_ligne_budgetaire_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taches
    ADD CONSTRAINT taches_ligne_budgetaire_id_fkey FOREIGN KEY (ligne_budgetaire_id) REFERENCES public.lignes_budgetaires(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: taches taches_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taches
    ADD CONSTRAINT taches_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: taches taches_wbs_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.taches
    ADD CONSTRAINT taches_wbs_id_fkey FOREIGN KEY (wbs_id) REFERENCES public.wbs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: wbs wbs_projet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wbs
    ADD CONSTRAINT wbs_projet_id_fkey FOREIGN KEY (projet_id) REFERENCES public.projets(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict tr0vKCDBQryuGLDTjVh7jfYGBbnDDbNJ7hKHacekUkOEXxOnKiFv9Qu49qLojqd

